@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

// VARS
$white-color: #ffffff;

//NAVBAR SECTION
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    position: relative;
    color: $white-color;
    margin-bottom: 1.5rem;
    .navbar__title {
        font-size: 1.5rem;
    }
    .navbar__description {
        font-size: 0.8rem;
    }
}

// APP SECTION
.App {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background: url(../assets/fondo.jpg) no-repeat center center/cover;
    }
}

// CARD SECTION
.card {
    margin-bottom: 3rem;
    .card__search {
        display: block;
        text-align: center;
        min-height: 42px;
        margin-bottom: 1rem;
        .card__search-input {
            display: inline;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border: 0;
            margin-right: 0.5rem;
            &:focus {
                border: 0;
                outline: 0;
            }
        }
        .card__search-icon {
            color: $white-color;
        }
    }
    .date {
        color: rgba($white-color, $alpha: 0.8);
        font-size: 0.8rem;
        margin: 0.5rem 0;
        .date__local {
            text-align: center;
        }
    }
    .card__box {
        position: relative;

        .card__content {
            height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card__weather {
                display: block;
                width: 100%;
                color: $white-color;
                position: relative;
                max-height: 35vh;
                padding-top: 1rem;
                .card__weather-city {
                    font-size: 1.5rem;
                }
                .card__weather-temp {
                    font-size: 5rem;
                }
                .card__weather-main {
                    position: absolute;
                    transform: rotate(270deg);
                    -webkit-transform: rotate(270deg);
                    -moz-transform: rotate(270deg);
                    -ms-transform: rotate(270deg);
                    -o-transform: rotate(270deg);
                    right: 0;
                    bottom: 25px;
                }
            }
        }
        .general__info{
            .info{
                color: $white-color;
                font-weight: 300;
                font-size: 0.7rem;
                text-align: center;
            }
        }
        .card__info {
            background: rgba(255, 255, 255, 0.25);
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            min-height: 300px;
            max-height: 40vh;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
            backdrop-filter: blur(4px);
        }
    }
}

.weather__info-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    color: $white-color;
    .weather__info-title {
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .weather__info-description {
        color: rgba($white-color, $alpha: 0.75);
        font-size: 1.5rem;
    }
}

@import "mobile";
